<div style="max-width:66ch;">

## 0. Cities in Sweden - create dataset (*)

Create this DataFrame from scratch: 

|    | Kommun    |   Population |
|---:|:----------|-------------:|
|  0 | Malmö     |       347949 |
|  1 | Stockholm |       975551 |
|  2 | Uppsala   |       233839 |
|  3 | Göteborg  |       583056 |

&nbsp; a) Use your DataFrame to print out all the cities. (*)

In [18]:
import pandas as pd


data = {"Malmö": 347949, "Stockholm":975551, "Uppsala":233839, "Göteborg": 583056}

series = pd.Series(data)

df_cities = pd.DataFrame(series).reset_index() 

df_cities.columns= ["Kommun", "Population"]

df_cities

      Kommun  Population
0      Malmö      347949
1  Stockholm      975551
2    Uppsala      233839
3   Göteborg      583056


&nbsp; b) Select only the row which contains Göteborg. Do this by using the name Göteborg. (*)

In [19]:
goteborg_row = df_cities.loc[df_cities['Kommun'] == 'Göteborg']

print(goteborg_row)

     Kommun  Population
3  Göteborg      583056


&nbsp; c) Sort the cities by population from largest to smallest. (*)

In [20]:
df_cities.sort_values(by="Population", ascending=False).head()

      Kommun  Population
1  Stockholm      975551
3   Göteborg      583056
0      Malmö      347949
2    Uppsala      233839


&nbsp; d) Filter out the three largest cities. (*)

In [21]:
Cities_top3 = df_cities.sort_values(by="Population", ascending=False).iloc[:3]
Cities_top3

      Kommun  Population
1  Stockholm      975551
3   Göteborg      583056
0      Malmö      347949


&nbsp; e) The whole population in Sweden 2020 is 10379295. Use this number to create a new column in your sorted DataFrame named: Population (%). This column should be filled with percentage of the Swedish population for each city. 

</div>

In [22]:
import pandas as pd

data = {"Malmö": 347949, "Stockholm": 975551, "Uppsala": 233839, "Göteborg": 583056}
series = pd.Series(data)
df_cities = pd.DataFrame(series).reset_index()
df_cities.columns = ["Kommun", "Population"]

total_population_sweden = 10379295

# Beräkna procentandelen av Sveriges befolkning för varje stad
df_cities['Population (%)'] = (df_cities['Population'] / total_population_sweden) * 100


df_cities

      Kommun  Population  Population (%)
0      Malmö      347949        3.352338
1  Stockholm      975551        9.399010
2    Uppsala      233839        2.252937
3   Göteborg      583056        5.617491